<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
	<link rel="stylesheet" href="../static/style.css">
      {% endblock %}
      <title> English News App </title>
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>English Dictionary</b></a>
        </div>
      </nav>
    {% endblock %}
    {% block scripts %}
      {{ moment.include_moment() }}
      {{ moment.locale('ko') }}
    {% endblock %}
  </head>

  <body>
      <div class="container">
        <form method="post" class="search">
	  <div class="form-group" align="center">
            <input type="search" class="form-control" id="autoSizingInput" name="word" placeholder="검색어를 입력해주세요">
          </div>
          <div align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <!-- End of search form container -->

    <div id="content">
      {% block content %} {% endblock %}
    </div>
    <div class="footer">
    <p class="date">{{ moment(current_time).format('LLL') }}.</p>
    </div>
    <!-- End of footer -->
  </body>
</html>
