<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
      {% endblock %}
      <title> Dictionary App </title>
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>English Dictionary</b></a>
        </div>
      </nav>
    {% endblock %}
  </head>

  <body>
    {% block scripts %} {% endblock %}
    <div id="content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
