{% extends "bootstrap/base.html" %}

{% block title %}Dictionary App{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>English Dictionary</b></a>
    </div>
  </nav>
{% endblock %}

{% block content %} 
  <div class="container">
    <p><form>
    <div class="form-group">
    <input type="text" class="form-control" id="autoSizingInput" name="word" placeholder="Enter a word">
  </div>
  <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form></p>
  
  <hr>
  <h1 align="center"><b>{{ current_word }}</b></h1>
  <hr>
  
  <p>{{ meaning }}</p>
  <p>{{ part_of_speech }}</p>
  <p>{{ synonyms }}</p>
  <p>{{ antonyms }}</p>
  
{% endblock %}
