{% extends "base.html" %}

{% block content %} 
  <div class="container">
    <p><form method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="autoSizingInput" name="word" placeholder="Enter a word">
    </div>
    <div align="center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form></p>
  
  <hr>
  <h1 align="center"><b>{{ current_word }}</b></h1>
  <hr>

    <ul>
      {% set len = result["meanings"]|length %}
      {% for i in range(len) %}
        {% set num_def = result["meanings"][i]["definitions"]|length %} 
        {% for j in range(num_def) %}
  	{% if j == 0 %}
	  <ul><h4> Part of Speech: {{ result["meanings"][i]["partOfSpeech"] }}</ul></h4>
  	{% endif %}
  	<ul> {{j+1}}. {{ result["meanings"][i]["definitions"][j]["definition"] }}</ul>
  	<br>
        {% endfor %}
        <br>
      {% endfor %}
    </ul>
  </div>
  
{% endblock %}
